/*
Colors used:
(Black): #1C1C1C;
(White): #FFFFFF;
(Grey): #7F7F7F;
(Light blue): #00DBFF;
(Light blue 2): #00B5D2;
*/

/* Layout styling */

.container {
  padding: 0 15px;
  box-sizing: border-box;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

.logo {
  max-width: 250px;
  padding-left: 40px;
  display: block;
}

.profile {
  max-width: 250px;
  display: inline-flex;
}

.project {
  margin: 25px 0;
}

header {
  background-color: #00B5D2;
  text-align: center;
  padding: 10px 0;
  position: relative;
  box-shadow: 4px 4px 9px 0px rgba(50, 50, 50, 0.32);
}

nav {
  display: inline-block;
  width: 100%;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  font-weight: 600;
  color: #1C1C1C;
}

nav > ul > li > a:hover {
  color: #00DBFF;
  text-decoration: none;
}

nav > ul > li > a:active {
  color: #00B5D2;
}

body {
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #1C1C1C;
}

img {
  width: 100%;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 600;
}

h2 {
  font-size: 2.25em;
  font-weight: 600;
}

h3 {
  font-size: 1.25em;
  font-weight: 600;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}

span {
  font-weight: 400;
}

a {
  color: #1c1c1c;
  text-decoration: none;
}

a:visited {
  color: transparent;
}

a:hover,
a:focus {
  color: #00DBFF;
  text-decoration: none;
}

a:active {
  color: #00B5D2;
}

.hero {
background-color: #00B5D2;
display: inline-block;
color: black;
padding: 15ppx;
text-align: left;
}

.hero h1 span {
display: block;
font-weight: 400;
}

.work {
background-color: transparent;
color: black;
padding: 0 15px;
text-align: left;
}

.row {
padding-bottom: 25px;
border-bottom: 1px solid #7F7F7F;
}

.contact {
  background-color: transparent;
  color: black;
  padding: 0 15px;
  text-align: center;
  display: block;
  border-top: 1px solid #7F7F7F;
}

.social {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  list-style-type: none;
  width: 100%;
  padding-left: 0px;
  text-align: center;
  min-width: 150px;
}

.social .fab {
  font-size: 2em;
  margin: 0 20px;
}

.button {
  display: inline-block;
  background-color: #1C1C1C;
  color: #FFFFFF;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #1c1c1c;
  text-transform: lowercase;
  border: 2px solid #1c1c1c;
}

.button.contact:hover {
  background-color: #1c1c1c;
  color: #ffffff;
}
