/*
Colors used:
(Black): #1C1C1C;
(White): #FFFFFF;
(Grey): #7F7F7F;
(Light blue): #00DBFF;
(Light blue 2): #00B5D2;
*/

/* Layout styling */



.container {
  padding: 0 15px;
  box-sizing: border-box;
}

.container .center {
  display: block;
  max-width: 1280px;
  margin: 3rem auto;
}

.row {
  margin: 25px 0;
}

.logo {
  max-width: 250px;
  display: inline-block;
}

.profile {
  max-width: 250px;
  display: inline-flex;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.profile .image {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  overflow: hidden;
  box-shadow: #9f9f9f 2px 4px 8px;
}

.project {
  margin: 25px 0;
}

header {
  background-color: #00B5D2;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  box-shadow: 4px 4px 9px 0px rgba(50, 50, 50, 0.32);
}

nav {
  display: inline-block;
  width: auto;
  margin-top: 9px;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  font-weight: 600;
  color: #1C1C1C;
}

nav > ul > li > a:hover {
  color: #00DBFF;
  text-decoration: none;
  box-shadow: inset 0 2px 0 0 #FFFFFF;
  color: #000;
  padding-top: 30px;
}

nav > ul > li > a:active {
  color: #00B5D2;
}

footer#contact > div.contact > h2 {
  margin-top: 15px;
  margin-bottom: 15px;
}

footer#contact > div.contact > p {
  margin-top: 0px;
  margin-bottom: 0px;
}

footer#contact > div.contact > span {
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 0.8em;
}

body {
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #1C1C1C;
}

main {
  padding-top: 80px;
  display: inline-block;

}
img {
  width: 100%;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 600;
}

h2 {
  font-size: 2.25em;
  font-weight: 600;
}

h3 {
  font-size: 1.25em;
  font-weight: 600;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}

span {
  font-weight: 400;
}

ul  {
  padding-left: 20px;
}

a.button  {
  margin-top: 20px;
}

a {
  color: #1c1c1c;
  text-decoration: none;
}

a:visited {
  color: transparent;
}

a:hover,
a:focus {
  color: #00DBFF;
  text-decoration: none;
}

a:active {
  color: #00B5D2;
}

.hero {
background-color: #00B5D2;
display: inline-block;
color: black;
text-align: left;
width: 100%;
}

.hero h1 span {
display: block;
font-weight: 400;
font-size: 60%;
}

.work {
background-color: transparent;
color: black;
text-align: left;
}

.row {
padding-bottom: 25px;
border-bottom: 1px solid #7F7F7F;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.contact {
  background-color: #00B5D2;
  color: black;
  padding: 0 15px;
  text-align: center;
  display: block;
  padding-top: 10px;
  padding-bottom: 30px;
}

.social {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  list-style-type: none;
  width: 100%;
  padding-left: 0px;
  text-align: center;
  min-width: 150px;
}

.social .fab {
  font-size: 1.5em;
  margin: 0 10px;
}

.button {
  display: inline-block;
  background-color: #1C1C1C;
  color: #FFFFFF;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  transition: 0.2s opacity;
}

.button:visited {
  color: #ffffff;
}

.button:hover {
  opacity: 0.8;
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #1c1c1c;
  text-transform: lowercase;
  border: 2px solid #1c1c1c;
  margin-top: 20px;
}

.button.contact:hover {
  background-color: #1c1c1c;
  color: #ffffff;
}

[class*="col-"] {
  float: left;
}

@media only screen and (min-width: 540px) {
  header {
    text-align: unset;
    padding: 20px 0 15px;
  }

  nav {
    float: right;
  }

  main {
    padding-top: 55px;
    width: 100%;
  }

  div.col-md-about > div {
    padding-left: 150px;

  }

  .col-md-6 {
  width: 50%;
  padding: 0 10px;
  }

  .col-md-about {
    width: 45%;
  }
  }

@media only screen and (min-width: 1024px) {
  .col-lg-7 {
  width: 40%;
  }

  .col-lg-5 {
  width: 60%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  }

@media only screen and (min-width: 1440px) {
  .col-xl-4 {
  width: 50%;
  }

  }

  @keyframes color-change {
  from {fill: #edc655;}
  to {fill: #f76414;}
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
